{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.performer_view'|trans({'%id%': performer.id|default('')}) }}
{% endblock %}

{% block body %}
    <div class="container ">
        <h1 class="text-center text-info">{{ 'title.performer_view'|trans({'%id%': performer.id|default('')}) }}</h1>
        {% if performer is defined and performer|length %}
            <div class="list-group m-lg-2">
                <a href="#" class="list-group-item list-group-item-action active">
                    {{ 'label.stagename'|trans }}
                </a>
                <a href="#" class="list-group-item list-group-item-action disabled text-info font-weight-bold">{{  performer.stagename }}</a>
                {% if performer.image != null %}
                    <a href="#" class="list-group-item list-group-item-action disabled">
                        <img class="card-img-top img-thumbnail rounded mx-auto d-block" style="height: 200px; width: 300px; display: block;" src="{{ asset('uploads/' ~ performer.image) }}">
                    </a>
                {% endif %}
                <a href="#" class="list-group-item list-group-item-action">{{ 'label.firstname'|trans }}</a>
                <a href="#" class="list-group-item list-group-item-action disabled">{{ performer.firstname }}</a>
                <a href="#" class="list-group-item list-group-item-action">{{ 'label.lastname'|trans }}</a>
                <a href="#" class="list-group-item list-group-item-action disabled">{{ performer.lastname }}</a>
                <a href="#" class="list-group-item list-group-item-action">{{ 'label.info'|trans }}</a>
                <a href="#" class="list-group-item list-group-item-action disabled">{{  performer.info }}</a>
                <a href="#" class="list-group-item list-group-item-action">{{ 'label.musicgenre'|trans }}</a>
                <a href="#" class="list-group-item list-group-item-action disabled">{{  performer.musicgenre}}</a>
            </div>
        {% else %}
            <p>
                {% include 'default/_single_flash_message.html.twig' with {
                    type: 'warning',
                    message: 'message.item_not_found'|trans
                } %}
            </p>
        {% endif %}

        <a href="{{ path('performer_front_show') }}" class="btn btn-outline-info m-2">{{ 'action.back_to_list'|trans }}</a>
    </div>
{% endblock %}