
    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{{ 'title.admin_panel'|trans }}</title>
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        <!-- Custom styles for this template -->
        <link href="{{ asset('css/admin_styles.css') }}" rel="stylesheet">
    </head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading"> <a class="navbar-brand mr-1 font-weight-bold" href="{{ path('admin_main_page') }}">{{ 'title.admin_panel'|trans }}</a> </div>
        <div class="list-group list-group-flush">
            <li class="list-group-item list-group-item-action bg-light text-uppercase font-weight-bold text-warning ">{{'label.users'|trans }}</li>
            <a href="{{ path('user_show') }}" class="list-group-item list-group-item-action bg-light">{{ 'action.show'|trans }} </a>

            <li class="list-group-item list-group-item-action bg-light text-uppercase font-weight-bold text-info ">{{'label.performers'|trans }}</li>
            <a href="{{ path('performer_add') }}" class="list-group-item list-group-item-action bg-light">{{ 'action.add'|trans }}</a>
            <a href="{{ path('performer_show') }}" class="list-group-item list-group-item-action bg-light">{{ 'action.show'|trans }} </a>

            <li class="list-group-item list-group-item-action bg-light text-uppercase font-weight-bold text-info ">{{'label.concerts'|trans }}</li>
            <a href="{{ path('concert_add') }}" class="list-group-item list-group-item-action bg-light">{{ 'action.add'|trans }}</a>
            <a href="{{ path('concert_show') }}" class="list-group-item list-group-item-action bg-light">{{ 'action.show'|trans }} </a>

            <li class="list-group-item list-group-item-action bg-light text-uppercase font-weight-bold text-info ">{{'label.tags'|trans }}</li>
            <a href="{{ path('tag_add') }}" class="list-group-item list-group-item-action bg-light">{{ 'action.add'|trans }}</a>
            <a href="{{ path('tag_show') }}" class="list-group-item list-group-item-action bg-light">{{ 'action.show'|trans }} </a>

            <li class="list-group-item list-group-item-action bg-light text-uppercase font-weight-bold text-info ">{{'label.reservations'|trans }}</li>
            <a href="{{ path('reservation_show') }}" class="list-group-item list-group-item-action bg-light">{{ 'action.show'|trans }} </a>
        </div>
    </div>


    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">MENU</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Admin {{ app.user.firstName }}</a>
                    </li>
                    <li class="nav-item active">
                        <a class="btn btn-outline-primary btn-sm m-1" href="{{ path('main_page') }}">{{ 'label.main_page'|trans }}</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="container-fluid">
            {% include 'default/_flash_messages.html.twig' %}
           {% block body %}
            {% endblock %}
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->
<!-- Footer -->
<footer class="card-footer text-center ">
    <hr>
    <span>Copyright © Paulina Grabowska - myTickets 2019</span>
    <hr>
</footer>
<!-- Footer -->

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>